@charset "utf-8";

#body1{
	margin-bottom: 20px;
}
h1, h2, h3, h4{
	margin: 0;
	padding: 0;
}
h1{
	padding: 7px 0;
}
h3{
	color: #fff;
}
h3, h4{
	font-size: 16px;
}
.other2 ul.hidden{
	padding-left: 0px;
	list-style: none;
	padding-top: 10px;
	position: relative;
	margin-left: 4px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.list{
	margin-bottom: 10px;
}
.pics{
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
	width: 880px;
	position: relative;
}
#border{
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
#border ul{
	padding-left: 15px;
	color: #444;
}
.navi li{
	float: left;
	margin-right: 48px;
	letter-spacing: 0px;
}
.navi li.last{
	margin-right: 0px;
}
.class1 a:link , .class1 a:visited, .class1 a:active{
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}
.class1 a:hover {
	background-color: #666666;
	text-decoration:none;
}
.style1{
	color:#DDDDDD;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: normal;
}
.style4{
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
}
.style5a{
	background: #111111;
}
.style7{
	font-size: 20px;
	font-weight: normal;
	color: #FFFFFF;
}
.style8{
	font-size: 12px;
	color: #666666;	
}
.other2{
	margin-bottom: 40px;
}
.other2 ul{
	margin-bottom: 0px;
}
.other2 li{
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
}
.band{
	text-align: center;
}
.band a.band-name{
	color: #FFF;
	font-size: 18px;
	border: 1px #FFF solid;
	padding: 2px 5px 2px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.band a.band-name:hover{
	cursor: pointer;
	background: #444;
}
.data{
	padding-bottom: 10px;
	margin-top: 20px;
	border: 1px solid #aaa;
}
.data li{
	margin-left: 10px;
}
.data li ul li{
	color: #00AACC;
}
.data li ul li span{
	color: white;
}
.other2 li .show{
	margin-bottom: 10px;
}
.other-item{
	margin-bottom: 10px;
}
.solo{
	width: 930px;
}
.releaseImage {
	border: 2px solid #FFFFFF;
	margin-right:9px;
	margin-bottom:9px;
}
.top{
	margin-top: 10px;
}
#footer .top a{
	color: #fff;
}